

/*
.play_disp{
	border: 6px solid #fc0;
	border-radius: 10px;
	margin: 30px 10px 10px;
	background: #ffffcc;


}

*/

.play_disp{
	border: 6px solid #888;
	border-radius: 10px;
	margin: 30px 10px;
	background: #dcdcdc;
/*	width: 80%;*/
	
	


}

/*

p{
	color: #a50;
	font-size: 10px;
	text-align: left;
	background-color: #ffffe0;    
	padding: 10px;
	display: inline-block;
	border: 3px solid #fc0;
	border-radius: 10px;
	font-family:"HGP創英角ﾎﾟｯﾌﾟ体";
	margin-left: 10px;
}
*/

h3{
	color: #888;
	font-family:"HGP創英角ﾎﾟｯﾌﾟ体";
	margin-left: 10px;
}




.room_name{
	margin-left: 40px;
	margin-bottom: 20px;

}




.slide,.icon{
	max-width: 90%;
/*	max-height: 100%;*/
	border: 10px solid #888;
	margin: 10px auto;
	cursor:pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}



.slide:hover {
	border: 10px solid #fff;
}

.icon:hover {
	border: 10px solid #fff;
}

.select_div{
	margin-bottom: 30px;
}

.btn_effect:hover{
	cursor:pointer;
}




label{
	margin: 0;
	padding: 0;
}

.slidebar_area{
	margin-top: 20px;
	margin-bottom: 30px;
	
}

#time_area{
	display:flex;
	
}

.slide_info ,.icon_info{
	background-color: #777;
	color: #fff;
	border-radius: 10px;
	width: 100%;
	font-size: 20px;
	margin: 10px auto;
	border: 10px solid #888;
	
}

